<!DOCTYPE html>
<html lang="EN">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Register</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='./css/register.css') }}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
	    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    	<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="register">
			<h1>Register</h1>
		
			<form action="{{ url_for('register') }}" method="post" autocomplete="off" enctype="multipart/form-data">

				<label for="username">
					Masukkan Nama
				</label>
				<input type="text" name="username" placeholder="Username" id="username" required>
				
				<label for="password">
					Masukkan password
				</label>
				<input type="password" name="password" placeholder="Password" id="password" required>
				
				<label for="email">
					Masukkan Email
				</label>
				<input type="email" name="email" placeholder="Email" id="email" required>
				
				<label for="file-input">
					Tambahkan foto profil
				</label>
				<input type="file" id="image" name ="image" accept="image/*">

				<label for="role">Role:</label>
				
				<select id="role" name="role">
						<option value="user">User</option>
						<option value="admin">Admin</option> 
					</select>
			
				<div class="msg">{{ msg }}</div>
		
				<input type="submit" value="Register" class="button">

				<a href="{{ url_for('login') }}">Login</a>
			</form>
		</div>
	</body>
	<script>
		const input = document.getElementById('file-input');
		const preview = documnet.getElementById('preview');

		input.addEventListener('change', () => {
			const reader = new FileReader();
			reader.onload = () => {
				preview.src = reader.result;
			};
			reader.readAsDataURL(input.files[0]);
		});
	</script>
</html>