* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1b1b1b;
    display: flex;
    flex-wrap: wrap;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.sidebar {
    display: inline;
    height: 100vh;
    width: 30%;
    position: fixed;    
    background-color: #d6b086;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color: #1b1b1b;
}

#wtf {
    margin: 0 2.5em ;
}

#info {
    margin: 1.5em auto;
    font-size: 30pt;
}

#profil {
    margin: 1.5em auto;
    font-size: 15pt;
}

#beranda {
    margin: 1.5em auto;
    font-size: 15pt;
}

#keluar {
    margin: 1.5em auto;
    font-size: 15pt;
}

form {
    margin: 4em 4em 4em 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-content: center;
    color: #ffffff;
}

.name, .mail {
    display: flex;
    justify-content: space-between;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5em auto;
    padding: 0.5em 8.5em;
    background-color: #6e2d1f;
    color: #ffffff;
    border: 1.5px solid black;
    border-radius: 0.5em;
    font-weight: 700;
    font-family: "Poppins";
}